.creatic__logo{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.creatic__logo span:first-child {
    font-size: clamp(1.7rem, 5vw, 2.7rem) ;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: -0.2em;
}

.creatic__logo span:last-child {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: clamp(.5rem, 1vw, 0.7rem);
    font-weight: 300;
}
