.creatic__projects {
    background-image: linear-gradient(150deg, rgba(109, 149, 252, 0.1), rgba(255, 255, 255, 0) 0%, rgba(154, 39, 238, 0) 50%, rgba(255, 255, 255, 0) 78%, rgba(109, 149, 252, 0.2)), linear-gradient(253deg, rgba(255, 255, 255, 0), 0%, rgba(255, 255, 255, 0) 39%, 67%, rgba(154, 39, 238, 0) 78%, rgba(109, 149, 252, 0.1) 88%, rgba(154, 39, 238, 0));
}

.creatic__projects-container_title { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 0 3rem 0 ;
}

.creatic__projects-container_title h2 {
    color: var(--text-color);
    font-size: 2.4rem;
}

.creatic__projects-container_title span {
    color: var(--main-color);
}

.creatic__projects-container_title p {
    color: var(--main-color);
    font-size: 1.2rem;
}

.bars-support {
    max-width: fit-content;
    position: relative;
    margin: 0 auto;
}

.creatic__projects-container_title p::before,
.creatic__projects-container_title p::after {
    position: absolute;
    content: '';
    height: 0.2rem;
    width: 5rem;
    background: var(--text-color);
    top: 50%;
    border-radius: 0.2rem;
}

.creatic__projects-container_title p::before{
    left: -5.8rem;
    
}

.creatic__projects-container_title p::after{
    right: -5.8rem;
}

.creatic__projects-container_whyUs {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    gap: 10rem;
}

.creatic__projects-container_whyUs-cta {
    flex: 1;
}

.creatic__projects-container_whyUs-list {
    padding: 5rem 0;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
    flex: 1;
}

.creatic__projects-container_whyUs-list ul{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    list-style: none;
}
.creatic__projects-container_whyUs-list > img {
    user-select: none;
}

.creatic__projects-container_whyUs-list ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.creatic__projects-container_whyUs .creatic__cta p:first-child {
    color: var(--text-color);
    
}

.creatic__projects-container_whyUs .creatic__cta .theme {
    position: relative;
    max-width: fit-content;
}

.creatic__projects-container_whyUs .creatic__cta .color-bar {
    display: none;
}

.creatic__projects-container_whyUs .creatic__cta .theme::after {
    position: absolute;
    content: '';
    height: 0.2rem;
    width: 100%;
    background: var(--main-color);
    bottom: -40%;
    left: 0;
    border-radius: 0.2rem;
}


@media screen and (max-width: 1400px) {
    .creatic__projects-container_title p{
        font-size: 0.8rem;
    }

    .creatic__projects-container_title h2 {
        font-size: 1.5rem;
    }

    
}

@media screen and (max-width: 1023px) {
    .creatic__projects-container_whyUs {
        flex-direction: column;
        gap: 2rem;
    }

    .creatic__projects-container_whyUs-list p {
        font-size: 0.8rem;
    }

    .creatic__projects-container_whyUs-list ul li {
        font-size: 1rem;
    }
    

    .creatic__projects-container_whyUs-list {
        padding: 0 0 5rem 0;
    }
}

@media screen and (max-width: 767px) {

    .creatic__projects-container_title h2 {
        text-align: center;
        font-size: 1.3rem;
    }

    .creatic__projects-container_title p::before,
    .creatic__projects-container_title p::after {
    
        width: 3.5rem;
    }

    .creatic__projects-container_title p::before{
        left: -4rem;
        
    }
    
    .creatic__projects-container_title p::after{
        right: -4rem;
    }
    }