.creatic__inputCard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem;
    background-image: linear-gradient(180deg, rgba(17, 23, 40, 1) 56%, rgba(3, 4, 7, 1) 88%);
    border-radius: 1.5rem;
}

.creatic__inputCard-container input,
.creatic__inputCard-container textarea {
    background: transparent;
    border: 1px solid var(--text-color);
    width: 100%;
    color: var(--text-color);
    font-size: 1rem;
    padding: 0.5rem;
}

.creatic__inputCard-container label {
    color: var(--text-color);
    font-size: 1rem;
}

.creatic__inputCard-container button {
    background: var(--main-color);
    max-width: fit-content;
    padding: 0.5em 1em;
    text-align: center;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: .4s;
    color: var(--bg-color);
    align-self: center;
    margin-top: 10%;
}

.creatic__inputCard-container button:hover {
    transform: scale(1.2);
}