.creatic__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

@media screen and (max-width: 1023px) {
    .creatic__card {
        max-width: 80%;
    }
}

@media screen and (max-width: 767px) {
    
    }