.creatic__testimonials-container {
    position: relative;
    display: flex;
}

.creatic__testimonials-container img {
    max-width:  50%;
}

.creatic__testimonials-container .creatic__cta {
    align-items: center;
    gap: .5rem;
}

.creatic_testimonial-card {
    margin: 4rem 0;
}

.creatic__testimonials-container .color-bar {
    width: 15rem;
}

.creatic__testimonials-container_leftSide {
    flex: 1;
    display: flex;
}



.creatic__testimonials-container_rightSide {
    flex: 1;
    display: flex;
    justify-content: flex-end;

}

.creatic__testimonials-container_content {
    position: absolute;
    max-width: 40%;
    top: 0;
    bottom: 0;
    left: 30%;
    padding: 5rem;
    flex: 1;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.creatic__testimonials-container_content img {
    max-width: 70%;
}

@media screen and (max-width: 1023px) {
    .creatic__testimonials-container_leftSide,
    .creatic__testimonials-container_rightSide {
        display: none;
    }
    
    .creatic__testimonials-container_content {
        position: static;
        max-width: 80%;
        margin: 0 auto;
    }

    .creatic__testimonials-container .creatic__cta .color-bar {
        max-width: 12rem;
    }
}

@media screen and (max-width: 767px) {
    .creatic__testimonials-container .creatic__cta .color-bar {
        max-width: 8rem;
    }

    .creatic__testimonials-container_content {
        padding: 5rem 0;
    }

    .creatic__testimonials-container img {
        max-width: 80%;
    }
}

.creatic__testimonials-container .creatic__cta .color-bar {
        max-width: 12rem;
    }

@media screen and (max-width: 500px) {
    .creatic__testimonials-container .creatic__cta .color-bar {
        max-width
        : 8rem;
    }
    .creatic__testimonials-container img {
        max-width: 100%;
    }

    .creatic__testimonials-container .creatic__cta .creatic__cta-btn {
        padding: 0.2rem;
    }
}