.creatic__navbar {
    background: var(--bg-color);
    padding: 0.8rem 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
}

.creatic__navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}

.creatic__navbar-logo {
    flex: 1 1 10rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

.creatic__navbar-links {
    color: var(--text-color);
    display: flex;   
    align-items: center;
    justify-content: center; 
}

.creatic__navbar-links_btn {
    padding: 0 1rem;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.creatic__navbar-links_btn img {
    max-width: 85%;
    cursor: pointer;
    transition: .4s;
}

.creatic__navbar-links_btn img:hover {
    transform: scale(1.2);
}

.creatic__navbar-links ul {
    font-size: 1rem;
    display: flex;
    align-items: center;
    list-style: none;
}

.creatic__navbar-links li {
    cursor: pointer;
    margin-left: 2.6em;
    transition: .4s;
}

.creatic__navbar-links li:hover {
    transform: scale(1.2);
}

.creatic__navbar-links_menu {
    display: none;
}



.creatic__navbar-container_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: var(--text-color);
    padding: 1rem 5rem;
    border-radius: 1rem;
    position: absolute;
    top: 102%;
    right: 8%;
    background: var(--bg-color);
    min-height: 20rem;
    max-width: 16rem;
    transition: .5s;
}

.creatic__navbar-container_menu ul li{
    list-style: none;
    padding: 1rem 0;
    transition: .4s;
}

.creatic__navbar-container_menu ul li:hover {
    transform: scale(1.2);
}

.scale-up-tr {
	-webkit-animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-tr {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes scale-up-tr {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  

@media screen and (max-width: 1250px) {
    .creatic__navbar-links_btn img{
        display: block;
        max-width: 60%;
    }

    .creatic__navbar-links ul li {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1023px) {
    .creatic__navbar-links{
        display: none;
    }

    .creatic__navbar-links_btn img{
        max-width: 100%;
    }

    .creatic__navbar-links_btn {
        border: 1px solid var(--main-color);
        border-radius: 3px;
        margin-top: .5rem;
    }


    .creatic__navbar-links_menu {
        display: flex;
    }
}

@media screen and (max-width: 300px) {
    .creatic__navbar-container_menu {
        left: 0;
        right: 0;
        max-width: none;
        align-items: center;
        margin: 0 1rem;
    }
}