*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg-color);
}

img {
    max-width: 100%;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.original_gradient {
    position: absolute;
    z-index: 99;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(109, 149, 252, 0.12));
    pointer-events: none;
  }
