.creatic__header {
    background: var(--bg-color);
    position: relative;
    max-width: 100%;
}

.creatic__header-container{
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}


.creatic__header-container_content .creatic__cta {
    flex: 1 1 auto;
}

.creatic__header-container_image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 55%;
    align-self: flex-end;

}


@media screen and (max-width: 1023px) {
    .creatic__header-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .creatic__header-container_image img {
        max-width: 80%;
    }
}


